
h1{
    font-family: $font-header;
    font-weight: bold;
    font-size: nth($list: $fontsize-headers, $n: 1);
    line-height: 43.74px;
    margin: 0;
    color: $color-primary;
}

h2{
    font-family: $font-default;
    font-weight: 400;
    font-size: nth($list: $fontsize-headers, $n: 2);
    line-height: 28.13px;
}

h3{
    font-family: $font-default;
    font-weight: 400;
    font-size: nth($list: $fontsize-headers, $n: 3);
    line-height: 21.09px;
}

h4{
    @include TextEmphasised;
}

h5{
    @include TextParagraph;    
    line-height: 18.75px;
    @media only screen and (min-width: 768px) {font-size: 14px;}
    @media only screen and (min-width: 1441px) {font-size: 18px;}
}

p{
    @include TextParagraph;
}