@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html {
  width: 100%;
  height: 100%;
  background-color: #242424;
  color: white;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
  transition-property: box-shadow, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
a:hover {
  transform: scale(1.03);
}

button {
  transition-property: filter, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 4px 10px #d9d9d9;
}
button:hover {
  filter: brightness(1.2);
  box-shadow: 0px 4px 10px gray;
}

h1 {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 43.74px;
  margin: 0;
}

h2 {
  font-family: "Source Sans Pro", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
}

h3 {
  font-family: "Source Sans Pro", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
}

h4 {
  font-family: "Source Sans Pro", serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 18.75px;
  margin: 0;
}

h5 {
  font-family: "Source Sans Pro", serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 21.09px;
  margin: 0;
  color: #353535;
  line-height: 18.75px;
}
@media only screen and (min-width: 768px) {
  h5 {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1441px) {
  h5 {
    font-size: 18px;
  }
}

p {
  font-family: "Source Sans Pro", serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 21.09px;
  margin: 0;
  color: #353535;
}

.block-header {
  display: flex;
  width: 100%;
}

.__element-title {
  height: 63px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.__modifier-active-section {
  background-color: #1c1c1c;
  scale: 1.1 1;
  border-bottom: 2px solid gray;
}

.page-home .block-header {
  padding-top: 20px;
  background-color: #111918;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 5px #1f1f1f;
  z-index: 1;
}
.page-home .block-header .block-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}
@media only screen and (min-width: 992px) {
  .page-home .block-header .block-content {
    margin-top: 0px;
  }
}
.page-home .block-header .block-content .__element-img-wrapper {
  position: relative;
  width: 100vw;
  height: 75px; /* Adjust this height as needed */
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .page-home .block-header .block-content .__element-img-wrapper {
    height: 100px;
  }
}
@media only screen and (min-width: 992px) {
  .page-home .block-header .block-content .__element-img-wrapper {
    height: 150px;
  }
}
.page-home .block-header .block-content .__element.img-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-home .block-header .block-content .block-description {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  background-color: #353535;
  z-index: 10;
}
.page-home .block-header .block-content .block-description .__element-subtitle {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  width: 33vw;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  transition: scale 0.2s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .page-home .block-header .block-content .block-description .__element-subtitle {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .page-home .block-header .block-content .block-description .__element-subtitle {
    width: 15%;
  }
}
.page-home .block-header .block-content .block-description .__element-subtitle i {
  display: none;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .page-home .block-header .block-content .block-description .__element-subtitle i {
    display: flex;
    margin-right: 10px;
  }
}
.page-home .block-header .block-content .block-description .__element-subtitle:hover {
  background-color: #1c1c1c;
  scale: 1.1 1;
  border-bottom: 2px solid gray;
}
.page-home .block-header .block-links {
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 100px;
  border-bottom: 2px solid transparent; /* Set initial border color to transparent */
  -o-border-image: linear-gradient(to right, #111918, #353535);
     border-image: linear-gradient(to right, #111918, #353535); /* Define the gradient */
  border-image-slice: 1; /* Slice the border image */
}
.page-home .block-header .block-links h5 {
  border-top: 2px solid #111918;
  padding-top: 4px;
  color: white;
  height: -moz-fit-content;
  height: fit-content;
}
.page-home .block-header .block-links h5:hover {
  border-top: 2px solid #2fcb23;
}
.page-home .block-main {
  background-color: #353535;
  gap: 17px;
  height: 100%;
  width: 100vw;
  align-self: center;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .page-home .block-main {
    width: 75vw;
  }
}
@media only screen and (min-width: 1440px) {
  .page-home .block-main {
    width: 55vw;
  }
}/*# sourceMappingURL=main.css.map */