@use 'sass:math';

@mixin CenterAlign{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

@mixin LeftAlign{
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    display: flex;
}

@mixin TextEmphasised{
    font-family: $font-default;
    font-weight: bold;
    font-size: nth($list: $fontsize-headers, $n: 4);
    @include CenterAlign;
    line-height: 18.75px;
    margin: 0;
}

@mixin TextParagraph{
    font-family: $font-default;
    font-weight: 300;
    font-size: $fontsize-paragraph;
    line-height: 21.09px;
    margin: 0;
    color: white;
}

@mixin BoxShadowFade($opacity: 15%, $length: 4px, $blur: 10px){
    box-shadow: 0px $length $blur lighten($color-shadow-base, 100% - $opacity);
}

@mixin BoxShadowFadeBG($length: 4px, $blur: 10px, $color:$color-background-blur){
    box-shadow: 0px $length $blur $color;
}

@mixin ActiveSection{
    background-color: darken($color-gray, 10%);
    scale: 1.1 1;
    border-bottom: 2px solid gray;
}