$color-pink: #FF79DA;
$color-green: #2fcb23;
$color-greenFont: #008766;
$color-blue: #89C8FA;
$color-blue-two: #003A68;
$color-primary: #9356DC;
$color-background: #242424;
$color-background-blur: #111918;
$color-gray: #353535;
$color-gray-two: #EAEAEA;
$color-shadow-base: #000000;

$font-header: "Baskervville", serif;
$font-default: "Source Sans Pro", serif;

$fontsize-headers: 34px, 24px, 18px, 14px;
$fontsize-paragraph: 12px;

$borderradius-button: 25px;