$color-greenFont: #008766;
$color-primary: #ceb99c;
$color-background: #242424;
$color-background-blur: #111918;
$color-gray: #353535;
$color-gray-two: #EAEAEA;
$color-shadow-base: #000000;
$color-secondary: #4a3321;

$font-header: "Copperplat Gothic 29 AB", serif;
$font-default: "Source Sans Pro", serif;

$fontsize-headers: 34px, 24px, 18px, 14px;
$fontsize-paragraph: 14px;

$borderradius-button: 25px;